<div class="face-snap-card" [ngClass]="{ snapped: faceSnap.snaps > 0 }">
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
    <p>Mis en ligne le {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>{{ 4346234.36 | number: '1.0-1' }}</p>
    <p>{{ 0.336 | percent: '1.0-1' }}</p>
    <p>{{ 344.36 | currency: 'EUR' }}</p>
    <span>{{ 0.477 | percent }}</span>
    <p>
      <button (click)="onSnap()">{{ buttonText }}</button>
      <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
    </p>
  </div>